<html> <head> <title>添加图书</title> </head>
<p><a href="/">首页</a></p>
<style type="text/css">
body {background-color:SkyBlue;}
</style>
<body>
<table width=100% height=100%><tr><td><center>
{% if Error %}
<h1><p style="color: red;">填写错误,请认真填写每一信息</p></h1>
{%for e in Error%}
    <p style="color: red;">{{e}}</p>
{%endfor%}
{% endif %}
{% if error %}
    <p style="color: red;">书已存在，请重新输入</p>
{% endif %}
添加书籍:
<form action="/create/" method="post">
{% csrf_token %}
<table border=1 align="center">
<tr><th>ISBN</th><td><input name="ISBN" value="{{ book.ISBN }}"type="text"></td></tr>
<tr><th>Author</th><td><input name="Author" value="{{ book.AuthorID.Name }}" type="text"></td></tr>
<tr><th>书名</th><td><input name="Title" value="{{ book.Title }}" type="text"></td></tr>
<tr><th>出版商</th><td><input name="Publisher" value="{{ book.Publisher}}" type="text"></td></tr>
<tr><th>出版日期</th><td><input name="PublishDate" value="{{ book.PublishDate }}" type="date"></td></tr>
<tr><th>价格</th><td><input name="Price" value="{{ book.Price }}" type="text"></td></tr>
<tr><td><input type="submit" value="保存"><input type="reset" value="重填"></td></tr>
</table>
</form>
</center></td></tr></table>
<body>
</html>